{%layout'layout.liquid'%}

{%block content%}


<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="drink/drop" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="/drink/category">categories</a></li>
      <li><a class="dropdown-item" href="/drink/alcoholic">alcoholic</a></li>
      <li><a class="dropdown-item" href="/drink/glasses">glasses</a></li>
    </ul>
  </div>
  
{%endblock%}