{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        {% if loggedIn %}
        <a href="/drink" class="navbar-brand">Hello {{ username }}</a>
        <!-- <a href="/drink" class="nav-link text-light"> </a> -->
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if loggedIn %}

                <a href="/drink/new" class="nav-link text-light">Create a custom drink</a>
                <a href="/drink/mine" class="nav-link text-light">My Created Drinks</a>
                <!-- <a href="/drink/fave" class="nav-link text-light">My Favorite Drinks</a> -->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="drink/drop" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Filter by
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="/drink/category">categories</a></li>
                      <li><a class="dropdown-item" href="/drink/alcoholic">alcoholic</a></li>
                      <li><a class="dropdown-item" href="/drink/glasses">glasses</a></li>
                    </ul>
                  </div>
                <a href="/auth/logout" class="nav-link text-light">Log Out</a>
            {% else %}
                <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}