{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/drink" class="navbar-brand">Homepage</a>
        {% if loggedIn %}
        <a href="/drink/mine" class="nav-link text-light">Hello {{ username }} </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if loggedIn %}

                <a href="/drink/new" class="nav-link text-light">Create a custom drink</a>
                <a href="/drink/mine" class="nav-link text-light">My Created Drinks</a>
                <!-- <a href="/drink/fave" class="nav-link text-light">My Favorite Drinks</a> -->
                <a href="/auth/logout" class="nav-link text-light">Log Out</a>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li> -->
            {% else %}
                <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}