{%layout 'layout.liquid'%}
{%block content%}

<h2>categories</h2> 

<a href="category/drink/Cocktail">Cocktail</a> <br>
<a href="category/drink/Shake">Shake</a> <br>
<a href="category/drink/Ordinary%20Drink">Ordinary Drink</a> <br>
<a href="category/drink/Cocoa">Cocoa</a> <br>
<a href="category/drink/Homemade Liqueur">Homemade Liqueur</a> <br>
<a href="category/drink/Soft%20Drink">Soft Drink</a> <br>
<a href="category/drink/Shot">Shot</a> <br>
<!-- <a href="/category/{{drink.category}}">{{drink.strDrink}}</a> <br> -->


{%endblock%}