{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <div class="row">
        {%for drink in drinks%}
        <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ drink.strDrinkThumb}}" width="75px" height="150px" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{drink.strDrink}}</h5>
              <a href="/drink/view/{{drink.idDrink}}" class="btn btn-primary">See drink</a>
            </div>
          </div>
        </div>
        {%endfor%}
</div>
</div>
{% endblock %}