{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        {%for drink in drinks%}
        
        <a href="/drink/view/{{drink.idDrink}}"><img src="{{ drink.strDrinkThumb}}" width="100px" height="100px"></a> 
        
        {%endfor%}
        
    </article>
</div>
{% endblock %}