{%layout 'layout.liquid'%}
{%block content%}

<h2>glasses</h2>

<a href="glasses/drink/Highball%20glass">Highball glass</a><br>
<a href="glasses/drink/Cocktail%20glass">Cocktail glass</a><br>
<a href="glasses/drink/Old-fashioned%20glass">Old-fashioned glass</a><br>
<a href="glasses/drink/Whiskey%20Glass">Whiskey Glass</a><br>
<a href="glasses/drink/Collins%20glass">Collins glass</a><br>
<a href="glasses/drink/Pousse%20cafe%20glass">Pousse cafe glass</a><br>
<a href="glasses/drink/Champagne%20flute">Champagne flute</a><br>
<a href="glasses/drink/Whiskey%20sour%20glass">Whiskey sour glass</a><br>
<a href="glasses/drink/Cordial%20glass">Cordial glass</a><br>
<a href="glasses/drink/Brandy%20snifter">Brandy snifter</a><br>
<a href="glasses/drink/White%20wine%20glass">White wine glass</a><br>
<a href="glasses/drink/Nick%20and%20Nora%20Glass">Nick and Nora Glass</a><br>
<a href="glasses/drink/Hurricane%20glass">Hurricane glass</a><br>
<a href="glasses/drink/Coffee%20mug">Coffee mug</a><br>
<a href="glasses/drink/Shot%20glass">Shot glass</a><br>
<a href="glasses/drink/Jar">Jar</a><br>
<a href="glasses/drink/Irish%20coffee%20cup">Irish coffee cup</a><br>
<a href="glasses/drink/Punch%20bowl">Punch bowl</a><br>
<a href="glasses/drink/Pitcher">Pitcher</a><br>
<a href="glasses/drink/Pint%20glass">Pint glass</a><br>
<a href="glasses/drink/Copper%20Mug">Copper Mug</a><br>
<a href="glasses/drink/Wine%20Glass">Wine Glass</a><br>
<a href="glasses/drink/Beer%20mug">Beer mug</a><br>
<a href="glasses/drink/Beer%20pilsner">Beer pilsner</a><br>
<a href="glasses/drink/Beer%20Glass">Beer Glass</a><br>
<a href="glasses/drink/Parfait%20glass">Parfait glass</a><br>
<a href="glasses/drink/Mason%20jar">Mason jar</a><br>
<a href="glasses/drink/Margarita%20glass">Margarita glass</a><br>
<a href="glasses/drink/Martini%20Glass">Martini Glass</a><br>
<a href="glasses/drink/Balloon%20Glass">Balloon Glass</a><br>
<a href="glasses/drink/Coupe%20Glass">Coupe Glass</a><br>





{%endblock%}