{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/drink" method="POST">
        <fieldset>
            <legend>Create Your Own Drink!</legend>
            <label class="form-label">Drink name: </label>
            <input 
                type="text" 
                name="strDrink" 
                placeholder="Enter Drink name"
                class="form-control"
            >
            <label class="form-label">Drink category:</label>
            <input 
                type="text" 
                name="strCategory" 
                placeholder="Enter Drink category" 
                class="form-control"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient1" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure1" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient2" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure2" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient3" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure3" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient4" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure4" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient5" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure5" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient6" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure6" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient7" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure7" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient8" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure8" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient9" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure9" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient10" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure10" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient11" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure11" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient12" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure12" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient13" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure13" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient14" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure14" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient15" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure15" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            > 
            <label class="form-label">How do you make it?:</label>
            <input 
                type="text" 
                name="strInstructions" 
                class="form-control"
                placeholder="Make sure to list all steps!"
            >
            <label class="form-label">What glass are you preparing it in?:</label>
            <input 
                type="text" 
                name="strGlass" 
                class="form-control"
                placeholder="Ex: shot, margarita, jar etc."
            >
            <br>
            <label class="form-label">Alcoholic or no?:</label>
            <input 
                type="checkbox" 
                name="strAlcoholic" 
                class="form-check-input"
            > <br>
        </fieldset>
        <input type="submit" value="Create New Drink" class="btn btn-success">
    </form>
</div>
{% endblock %}